# Spark DataFrames Project

#### By using the walmart_stock.csv file to answer and completing the  tasks below!

#### Start a simple Spark Session

In [3]:
pwd

'/home/augustine/Downloads/Python-and-Spark-for-Big-Data-master/Spark_DataFrame_Project_Exercise'

In [5]:
import findspark

In [6]:
findspark.init('/home/augustine/spark-2.4.7-bin-hadoop2.7')

In [9]:
import pyspark
import py4j

In [11]:
from pyspark.sql import SparkSession

#### Loading the Walmart Stock CSV File, have Spark infer the data types.

In [12]:
spark=SparkSession.builder.appName('Stocks_Excercise').getOrCreate()
df=spark.read.csv('/home/augustine/walmart_stock.csv',inferSchema=True,header=True)

#### The column names?

In [17]:
df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

####  The Schema look like:

In [18]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

#### Printing out the first 5 columns.

In [29]:
df.head(5)

[Row(Date=datetime.datetime(2012, 1, 3, 0, 0), Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619234999999996),
 Row(Date=datetime.datetime(2012, 1, 4, 0, 0), Open=60.209998999999996, High=60.349998, Low=59.470001, Close=59.709998999999996, Volume=9593300, Adj Close=52.078475),
 Row(Date=datetime.datetime(2012, 1, 5, 0, 0), Open=59.349998, High=59.619999, Low=58.369999, Close=59.419998, Volume=12768200, Adj Close=51.825539),
 Row(Date=datetime.datetime(2012, 1, 6, 0, 0), Open=59.419998, High=59.450001, Low=58.869999, Close=59.0, Volume=8069400, Adj Close=51.45922),
 Row(Date=datetime.datetime(2012, 1, 9, 0, 0), Open=59.029999, High=59.549999, Low=58.919998, Close=59.18, Volume=6679300, Adj Close=51.616215000000004)]

#### Using describe() to learn about the DataFrame.

In [77]:
df.describe().show()

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+


#### There are too many decimal places for mean and stddev in the describe() dataframe. I'm going to format the numbers to just show up to two decimal places. We should give careful attention to the datatypes that .describe() returns.

In [36]:
from pyspark.sql.types import StructField, StructType, StringType

In [40]:
data_schema=[StructField('Open',StringType(),True),StructField('High',StringType(),True),
             StructField('Low',StringType(),True),StructField('Close',StringType(),True),
             StructField('Volume',StringType(),True),StructField('Adj Close',StringType(),True)]

In [78]:
df.describe().printSchema()

root
 |-- summary: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

In [42]:
from pyspark.sql.functions import format_number

In [44]:
df.select('Date',format_number('Open',2).alias('Open'),format_number('High',2).alias('High'),format_number('Low',2).alias('Low'),
          format_number('Close',2).alias('Close'),format_number('Volume',2).alias('Volume')).show()

+-------------------+-----+-----+-----+-----+-------------+
|               Date| Open| High|  Low|Close|       Volume|
+-------------------+-----+-----+-----+-----+-------------+
|2012-01-03 00:00:00|59.97|61.06|59.87|60.33|12,668,800.00|
|2012-01-04 00:00:00|60.21|60.35|59.47|59.71| 9,593,300.00|
|2012-01-05 00:00:00|59.35|59.62|58.37|59.42|12,768,200.00|
|2012-01-06 00:00:00|59.42|59.45|58.87|59.00| 8,069,400.00|
|2012-01-09 00:00:00|59.03|59.55|58.92|59.18| 6,679,300.00|
|2012-01-10 00:00:00|59.43|59.71|58.98|59.04| 6,907,300.00|
|2012-01-11 00:00:00|59.06|59.53|59.04|59.40| 6,365,600.00|
|2012-01-12 00:00:00|59.79|60.00|59.40|59.50| 7,236,400.00|
|2012-01-13 00:00:00|59.18|59.61|59.01|59.54| 7,729,300.00|
|2012-01-17 00:00:00|59.87|60.11|59.52|59.85| 8,500,000.00|
|2012-01-18 00:00:00|59.79|60.03|59.65|60.01| 5,911,400.00|
|2012-01-19 00:00:00|59.93|60.73|59.75|60.61| 9,234,600.00|
|2012-01-20 00:00:00|60.75|61.25|60.67|61.01|10,378,800.00|
|2012-01-23 00:00:00|60.81|60.98|60.51|60.91| 7,134,100.00|
|2012-01-24 00:00:00|60.75|62.00|60.75|61.39| 7,362,800.00|
|2012-01-25 00:00:00|61.18|61.61|61.04|61.47| 5,915,800.00|
|2012-01-26 00:00:00|61.80|61.84|60.77|60.97| 7,436,200.00|
|2012-01-27 00:00:00|60.86|61.12|60.54|60.71| 6,287,300.00|
|2012-01-30 00:00:00|60.47|61.32|60.35|61.30| 7,636,900.00|
|2012-01-31 00:00:00|61.53|61.57|60.58|61.36| 9,761,500.00|
+-------------------+-----+-----+-----+-----+-------------+
only showing top 20 rows

+-------+--------+--------+--------+--------+--------+
|summary|    Open|    High|     Low|   Close|  Volume|
+-------+--------+--------+--------+--------+--------+
|  count|1,258.00|1,258.00|1,258.00|1,258.00|    1258|
|   mean|   72.36|   72.84|   71.92|   72.39| 8222093|
| stddev|    6.77|    6.77|    6.74|    6.76| 4519781|
|    min|   56.39|   57.06|   56.30|   56.42| 2094900|
|    max|   90.80|   90.97|   89.25|   90.47|80898100|
+-------+--------+--------+--------+--------+--------+

#### Created a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day.

In [51]:
new_df=df.withColumn('HV_Ratio',df['High']/df['Volume'])

In [52]:
new_df.select('HV_Ratio').show()

+--------------------+
|            HV_Ratio|
+--------------------+
|4.819714653321546E-6|
|6.290848613094555E-6|
|4.669412994783916E-6|
|7.367338463826307E-6|
|8.915604778943901E-6|
|8.644477436914568E-6|
|9.351828421515645E-6|
| 8.29141562102703E-6|
|7.712212102001476E-6|
|7.071764823529412E-6|
|1.015495466386981E-5|
|6.576354146362592...|
| 5.90145296180676E-6|
|8.547679455011844E-6|
|8.420709512685392E-6|
|1.041448341728929...|
|8.316075414862431E-6|
|9.721183814992126E-6|
|8.029436027707578E-6|
|6.307432259386365E-6|
+--------------------+
only showing top 20 rows

#### The day that had the Peak High in Price

In [62]:
df.orderBy(df['High']).head(1)[0][0]

datetime.datetime(2015, 11, 13, 0, 0)

#### the mean of the Close column

In [67]:
from pyspark.sql.functions import mean

In [68]:
df.select(mean(df['Close'])).show()

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

#### The max and min of the Volume column

In [137]:
from pyspark.sql.functions import max, min

In [83]:
df.select(max(df['Volume']),min(df['Volume'])).show()

+-----------+-----------+
|max(Volume)|min(Volume)|
+-----------+-----------+
|   80898100|    2094900|
+-----------+-----------+

#### Total  days  the Close  lower than 60 dollars

In [102]:
from pyspark.sql.functions import count

In [103]:
result1=df.filter(df['Close']<60)

In [104]:
result1.select(count('Close')).show()

+------------+
|count(Close)|
+------------+
|          81|
+------------+

####  Percentage of the time, the High greater than 80 dollars 
#### In other words, (Number of Days High>80)/(Total Days in the dataset)

In [116]:
high_days=df.filter(df['High']>80).select(count('High'))
total_days=df.select(count('Date'))

In [119]:
high_days.show()
total_days.show()

+-----------+
|count(High)|
+-----------+
|        115|
+-----------+

+-----------+
|count(Date)|
+-----------+
|       1258|
+-----------+

In [122]:
percentage=(115/1258)*100

In [123]:
percentage

9.141494435612083

####  The Pearson correlation between High and Volume

In [124]:
from pyspark.sql.functions import corr

In [125]:
df.select(corr('High','Volume')).show()

+-------------------+
| corr(High, Volume)|
+-------------------+
|-0.3384326061737161|
+-------------------+

####  The max High per year

In [131]:
from pyspark.sql.functions import year

In [133]:
years=df.withColumn('Year',select(df['Date']))

In [147]:
maxdf=years.groupBy(max('Year'))

In [150]:
#maxdf.select(['Year','max(High)']).show()

#### The average Close for each Calendar Month
#### In other words, across all the years, the average Close price for Jan,Feb, Mar, etc... The result will have a value for each of these months.

In [152]:
from pyspark.sql.functions import month

In [154]:
monthdf=df.withColumn('Month',month('Date'))

In [157]:
monthavgs=monthdf.select(['Month','Close']).groupBy('Month').mean()

In [159]:
monthavgs.select('Month','avg(Close)').orderBy('Month').show()

+-----+-----------------+
|Month|       avg(Close)|
+-----+-----------------+
|    1|71.44801958415842|
|    2|  71.306804443299|
|    3|71.77794377570092|
|    4|72.97361900952382|
|    5|72.30971688679247|
|    6| 72.4953774245283|
|    7|74.43971943925233|
|    8|73.02981855454546|
|    9|72.18411785294116|
|   10|71.57854545454543|
|   11| 72.1110893069307|
|   12|72.84792478301885|
+-----+-----------------+